<div class="text-center">
    <h1><%= @genre.name%></h1>
    <%= image_tag @genre.img_url, class: "genre-image "%>
    <h4>Total Views: <%= @genre.total_views %> </h4>
    <h4>Total Videos: <%= @genre.video_count %> </h4>
    <h4>Artists In Genre: <%= @genre.artist_count %> </h4>
    <h4>Average Review: <%= @genre.average_review %> </h4>

</div>

<div class="text-center">
    <h5><%= @genre.bio%></h5>
</div>
<hr style="border:solid 2px  #32ff6a;;"/>

<div class="text-center">
<h1>Videos</h1>
</div>

<div class="container">
    <div class="card-columns">
        <% @genre.videos.each do |video| %>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <%= link_to image_tag(video.img_url, class:"card-img-top"), video %>
                <div class="card-body">
                <h4 class="card-title"><%= link_to video.title, video %></h4>
                </div>
            </div>
        <% end %>
    </div>
</div>