<br>
<div class="text-center">
  <h1><%= @director.name %></h1>
  <div class="profile-image-container">
  <%= image_tag(@director.img_url, class:"profile-image") %>
  </div>
  <div class="container">
  <p>Bio: <%= @director.bio%></p>
  <h4>Total Views: <%= @director.total_views %></h4>
  <h4>Total Videos: <%= @director.video_count %> </h4>
  <h4>Artists Directed: <%= @director.artist_count %> </h4>
  <h4>Average Review: <%= @director.average_review %> </h4>
  </div>
</div>
<br>

<div class="text-center">
<h2>Videos by this director:</h2>
</div>
<br>

<div class="container">
    <div class="card-columns">
        <%@director.videos.each do |video|%>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <%= link_to image_tag(video.img_url, class:"card-img-top"), video%>
                <div class="card-body">
                    <h4 class="card-title"><%= link_to video.title, video %></h2>
                </div>
            </div>

        <%end%>
    </div>
</div>