<%= image_tag @director.img_url %>
<h2>Director: <%= @director.name%> </h1>

<p>Bio: <%= @director.bio%></p>
<h4>Total Views: <%= @direcotor.total_views %> </h4>


<% @director.videos.each do |video| %>
    <ul>
    <li><%= link_to video.title, video %>
    <%= link_to image_tag(video.img_url), video %></li>
    </ul>
<% end %>