  <%= form_for @user do |f| %>
  <p>
  <%= f.label :username %><br>
  <%= f.text_field :username %>
  (must be unique)
  </p>
  <p>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
    (must be unique)
  </p>
  <p>
  <%= f.label :location %><br>
  <%= f.text_field :location %>
  </p> 
  <p>
  <%= f.label :img_url %><br>
  <%= f.text_field :img_url %>
  </p>
  <p>
  <%= f.submit %>
  </p>
  <% end %>