<% if logged_in? && authorized%>
  <%= button_to "Edit", edit_user_path(@user), method: :get%>
  <%= button_to 'Delete User Profile', user_path(@user), method: :delete, remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
<%end%>
<h1><%= @user.username %></h1>
<%= image_tag @user.img_url %>
<ul>
<li>City: <%= @user.location %></li>
<li>Email: <%= @user.email %></li>
</ul>

<h3>Review History</h3>
<%@user.reviews.each do |review|%>
<div><%= link_to image_tag(review.video.img_url), review.video %><br>
<%= link_to review.video.title, review.video %><br>
<%if review.kill_rating == 0%><br>
&#x26CF;
<%else%>
&#x1F389;
<%end%>
<%=review.content%><br></div>
<br>
  <% if logged_in? && @user.id == @current_user.id %>
      <%= button_to "Delete this Review", review_path(review), method: :delete %>
  <% end %>
<br>
<%end%>


