<br>
<div class="text-center">
<iframe height='450' width= '750' src='https://www.youtube.com/embed/<%= @video.video_url_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>

<h1> <%= @video.title %> </h1>
<h2> Artist: <%= link_to @video.artist.name, artist_path(@video.artist) %> </h2>
<h4> Genre: #<%= link_to @video.genre.name, genre_path(@video.genre) %> </h4>
<h4> Director: <%= link_to @video.director.name, director_path(@video.director) %> </h4>
<h4> Views: <%= @video.count %> </h4>
</div>
<hr style="border:solid 2px  #32ff6a;; width:75%"/>

<div class="text-center">
<%if logged_in?%>
<%= render 'reviews/form', video: @video %>
<%end%>
</div>

<div class="text-center">
Comments:
<% @video.postable.each do |review|%>
<p><%= review.user.username %>
<%if review.kill_rating == 0%><br>
&#x26CF;
<%else%>
&#x1F389;
<%end%>
<p><%= review.content%></p>
<% if logged_in? && review.user.id == @current_user.id %>
      <%= link_to "Edit this Review", edit_review_path(review), method: :get %>
      <%= button_to "Delete this Review", review_path(review), method: :delete, class: "btn-danger rounded" %>
      <br>
  <% end %>
<% end %>
</div>

