<div class="video-container">
    <div class="stat-container">
        <h2>Most Viewed Videos</h2>
        <ul class="list-group">
        <%@top_viewed_video.each do |video|%>
        <a href="<%=video_path(video)%>" class="list-group-item"><%=video.title%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Most Reviewed Videos</h2>
        <ul class="list-group">
        <%@most_reviewed_video.each do |video|%>
        <a href="<%=video_path(video)%>" class="list-group-item"><%=video.title%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Highest Rated Videos</h2>
        <ul class="list-group">
        <%@highest_rated_video.each do |video|%>
        <a href="<%=video_path(video)%>" class="list-group-item"><%=video.title%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Lowest Rated Videos</h2>
        <ul class="list-group">
        <%@lowest_rated_video.each do |video|%>
        <a href="<%=video_path(video)%>" class="list-group-item"><%=video.title%></a>
        <%end%>
        </ul>
    </div>
</div>

<div class="user-container">
    <div class="stat-container">
        <h2>User With Most Reviews</h2>
        <ul class="list-group">
        <%@most_reviews_user.each do |user|%>
        <a href="<%=user_path(user)%>" class="list-group-item"><%=user.username%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>User With Highest Average Rating</h2>
        <ul class="list-group">
        <%@nicest_user.each do |user|%>
        <a href="<%=user_path(user)%>" class="list-group-item"><%=user.username%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>User With Lowest Average Rating</h2>
        <ul class="list-group">
        <%@meanest_user.each do |user|%>
        <a href="<%=user_path(user)%>" class="list-group-item"><%=user.username%></a>
        <%end%>
        </ul>
    </div>
</div>

<div class="director-container">
    <div class="stat-container">
        <h2>Worst Reviewed Director</h2>
        <ul class="list-group">
        <%@worst_rated_director.each do |director|%>
        <a href="<%director_path(director)%>" class="list-group-item"><%=director.name%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Best Reviewed Director</h2>
        <ul class="list-group">
        <%@top_rated_director.each do |director|%>
        <a href="<%=director_path(director)%>" class="list-group-item"><%=director.name%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Most Viewed Director</h2>
        <ul class="list-group">
        <%@top_viewed_director.each do |director|%>
        <a href="<%=director_path(director)%>" class="list-group-item"><%=director.name%></a>
        <%end%>
        </ul>
    </div>
</div>

<div class="artist-container">
    <div class="stat-container">
        <h2>Worst Reviewed Artist</h2>
        <ul class="list-group">
        <%@worst_rated_artist.each do |artist|%>
        <a href="<%artist_path(artist)%>" class="list-group-item"><%=artist.name%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Best Reviewed Artist</h2>
        <ul class="list-group">
        <%@top_rated_artist.each do |artist|%>
        <a href="<%=artist_path(artist)%>" class="list-group-item"><%=artist.name%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Most Viewed Artist</h2>
        <ul class="list-group">
        <%@top_viewed_artist.each do |artist|%>
        <a href="<%=artist_path(artist)%>" class="list-group-item"><%=artist.name%></a>
        <%end%>
        </ul>
    </div>

    <div class="genre-container">
    <div class="stat-container">
        <h2>Worst Reviewed Genre</h2>
        <ul class="list-group">
        <%@worst_rated_genre.each do |genre|%>
        <a href="<%genre_path(genre)%>" class="list-group-item"><%=genre.name%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Best Reviewed Genre</h2>
        <ul class="list-group">
        <%@top_rated_genre.each do |genre|%>
        <a href="<%=genre_path(genre)%>" class="list-group-item"><%=genre.name%></a>
        <%end%>
        </ul>
    </div>
    <div class="stat-container">
        <h2>Most Viewed Genre</h2>
        <ul class="list-group">
        <%@top_viewed_genre.each do |genre|%>
        <a href="<%=genre_path(genre)%>" class="list-group-item"><%=genre.name%></a>
        <%end%>
        </ul>
    </div>
</div>
