<% if flash[:errors] %>
   <ul> <% flash[:errors].each do |error| %>
        <li><%= error %></li>
    <% end %> </ul>
<% end %>

<%= form_for @review do |f| %>
    <%= f.hidden_field :video_id, value: @video.id%>
    <%= f.hidden_field :user_id, value: @user.id%>
    <p><%= f.label "Content" %></p>
    <p><%= f.text_area :content %></p>

    <%= f.label :kill_rating %><br />
    <%= f.label :kill_rating, "Thrill", :value => 1  %>
    <%= f.radio_button :kill_rating, 1 %>
    <%= f.label :kill_rating, "Kill", :value => 0 %>
    <%= f.radio_button :kill_rating, 0%>

    <p><%= f.submit %></p>
<% end %>
