<h1>Write a new review</h1>
<%= form_for @review do |f| %>
    <%= f.hidden_field :video_id, value: @video.id%>
    <%= f.hidden_field :user_id, value: @user.id%>
    <p><%= f.label "Content" %></p>
    <p><%= f.text_area :content %></p>
    <p><%= f.label "Kill Rating" %></p>
    <p>Thrill: <%= f.radio_button :kill_rating, "Thrill", value: 1 %></p>
    <p>Kill: <%= f.radio_button :kill_rating, "Kill", value: 0 %></p>
    <p><%= f.submit %></p>
<% end %>

<% if @errors %>
  <% @errors.each do |error| %>
      <p><%= error %></p>
  <% end %>
<% end %>