<!DOCTYPE html>
<html>
  <head>
    <title>Vktr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <div class="jumbotron bg-img" style="margin-bottom:0px;">
    <div id="jumbotrontext">
      <h1>VKTR</h1>
      <p>Enhancing your music experience</p>
    </div>
    
  </div>

  <nav class="navbar navbar-expand-sm navbar-dark sticky-top">

    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <!-- Links -->
    <a class="navbar-brand font-weight-bold" id="brandlogo" href="<%=root_path%>">VKTR</a>
    <div class="collapse navbar-collapse" id="collapse_target">
    
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="<%=videos_path%>">Videos</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="<%=artists_path%>">Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=directors_path%>">Directors</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_genres" href="<%=genres_path%>">Genres
        <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown_genres">
          <a class="dropdown-item" href="/genres/1">Pop</a>
          <a class="dropdown-item" href="/genres/2">Rock</a>
          <a class="dropdown-item" href="/genres/3">Rap</a>
          <a class="dropdown-item" href="/genres/4">Electronic</a>
        </div>
      </li>

      <% if logged_in?%>
      <li class="nav-item">
        <a class="nav-link" href="<%=user_path(@current_user)%>">My Profile</a>
      </li>
      <% end %>

      <li class="nav-item">
        <%if logged_in?%>
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
          <%else%>
          <%= link_to "Login", login_path, method: :get, class: "nav-link"%>
        <%end%>
      </li>
    </ul>
    </div>
  </nav>


    <%= yield %>
  
  
    <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center">
          
          <h5 class="text-uppercase">VKTR</h5>
          <!-- Links -->
          
          <ul class="list-unstyled">
            <li>
              <a href="<%=videos_path%>">Videos</a>  |   
              <a href="<%=artists_path%>">Artists</a>  | 
              <a href="<%=root_path%>">Home</a>  
            </li>
            <li>
              <a href="https://www.facebook.com" class="fa fa-facebook"></a>
              <a href="https://www.twitter.com" class="fa fa-twitter"></a>
              <a href="https://www.instagram.com" class="fa fa-instagram"></a>
            </li>
          </ul>

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="/videos"> Vktr.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  

  </body>
  
</html>
