<!DOCTYPE html>
<html>
  <head>
    <title>Vktr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="jumbotron bg-img">
    <div class="jumbotron jumbotron-fluid" style="background-color:rgba(20,49,69,0.7);">
      <div id="jumbotrontext">
        <h1 class="text-center">VKTR</h1>
        <h2 class="text-center">Log In</h2>
        <%= yield %>
        <br><br>
      </div> 
    
      
        <div id="jumbotrontext">
          <h1 class="text-center">Better than youtube music.</h1>
        </div> 
      </div>
    </div>
  </body>
</html>